<!-- Home_pages/templates/pages/home.html -->
{% extends "base.html" %}
{% block page_content %}
<style>
    .split-container {
        display: flex;
    }
    .left-half {
        flex: 0.5;
    }
    .right-half {
        flex: 1;
    }
    h1 {
        margin-bottom: 20px; /* Add space below the <h1> elements */
    }
    body{
        margin-top: 30px;
    }
</style>
<body>
    <div class="split-container">
        <div class="left-half">
            <h1>Hi, I am Pan.</h1>
            {% if pic %}
                <img src="{{pic.url}}", width="300", height="auto">
                <p>{{discription}}</p>
            {% endif %}
        </div>

        <div class="right-half">
            <h1>About Me</h1>
            {% if text %}
                <p>{{text.text|linebreaksbr }}</p> 
            {% endif %}
            <!-- Add your projects or portfolio items here -->
            <h1>Projects</h1>
            <div class="row">
            {% for project in projects %} <!--return render(request, "projects/project_index.html",context)-->
                <div class="col-md-6">
                    <div class="card mb-2">
                        {% if project.image %}
                            <img class="card-img-top" src="{{project.image.url}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="{% url 'project_detail' project.pk %}"class="btn btn-primary">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>       
       
        
        <section id="contact">
            <h1>Contact Me</h1>
            <p>You can reach me at pan@panhx.com.</p>
        </section>
        
        <footer>
            <p>&copy; 2023 Panhx.com</p>
        </footer>
    </body>  
{% endblock page_content %}